In [70]:
import pandas as pd
import numpy as np
from datetime import date
from jugaad_data.nse import bhavcopy_save, bhavcopy_fo_save
from jugaad_data.nse import stock_df
import pandas_ta as ta

In [71]:
df = stock_df(symbol="SBIN", from_date=date(2023,1,1),
            to_date=date(2023,10,1), series="EQ")

In [72]:
df

,DATE,SERIES,OPEN,HIGH,LOW,PREV. CLOSE,LTP,CLOSE,VWAP,52W H,52W L,VOLUME,VALUE,NO OF TRADES,SYMBOL
0,2023-09-29,EQ,592.85,600.00,591.30,589.95,598.30,598.55,597.22,629.55,499.35,12189735,7.279947e+09,224164,SBIN
1,2023-09-28,EQ,591.25,595.20,588.85,589.75,590.50,589.95,591.37,629.55,499.35,21960816,1.298696e+10,287488,SBIN
2,2023-09-27,EQ,593.45,594.30,588.20,594.40,590.00,589.75,590.74,629.55,499.35,9865347,5.827827e+09,232626,SBIN
3,2023-09-26,EQ,594.00,595.00,591.25,594.05,594.45,594.40,593.80,629.55,499.35,8327427,4.944809e+09,185873,SBIN
4,2023-09-25,EQ,601.50,601.50,590.45,598.15,593.95,594.05,594.79,629.55,499.35,9712784,5.777110e+09,262285,SBIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2023-01-06,EQ,607.40,607.45,597.00,605.10,601.00,600.65,601.57,629.55,425.00,7972036,4.795747e+09,154179,SBIN
181,2023-01-05,EQ,607.00,611.60,601.95,605.20,605.75,605.10,605.84,629.55,425.00,8241475,4.992982e+09,146571,SBIN
182,2023-01-04,EQ,611.85,614.95,604.00,612.40,605.60,605.20,607.74,629.55,425.00,7011191,4.260969e+09,113548,SBIN
183,2023-01-03,EQ,614.50,616.60,610.00,612.20,612.95,612.40,613.26,629.55,425.00,6818062,4.181258e+09,122799,SBIN
184,2023-01-02,EQ,614.95,619.20,611.20,613.70,612.60,612.20,614.42,629.55,425.00,6726084,4.132615e+09,125418,SBIN

In [73]:
ndf = pd.DataFrame()

In [74]:
rsi_period = 14  # Set your desired RSI period
cci_period = 14  # Set your desired CCI period
adx_period = 14  # Set your desired ADX period

In [75]:
ndf['RSI'] = ta.rsi(df['CLOSE'], length=rsi_period)
ndf['CCI'] = ta.cci(df['HIGH'], df['LOW'], df['CLOSE'], length=cci_period)

In [76]:
adx_df = ta.adx(df['HIGH'], df['LOW'], df['CLOSE'], length=adx_period)
ndf = ndf.join(adx_df,how='inner')

In [77]:
short_sma = df['CLOSE'].rolling(window=5).mean()
long_sma = df['CLOSE'].rolling(window=34).mean()
awesome_oscillator = short_sma - long_sma

In [78]:
wt = awesome_oscillator * ndf['RSI']

In [79]:
wta_period = 9
wta = wt.rolling(window=wta_period).mean()

In [80]:
ndf['WT'] = wt
ndf['WTA'] = wta

In [81]:
ndf

,RSI,CCI,ADX_14,DMP_14,DMN_14,WT,WTA
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
180,63.284041,83.070150,22.899645,22.562040,13.453276,2388.935336,2816.369940
181,64.962649,143.119266,23.327586,23.265944,12.835848,2424.138561,2750.660878
182,65.001372,137.734864,23.929145,23.611053,12.231321,2366.222000,2684.283114
183,67.763851,156.365450,24.589516,23.152763,11.617851,2523.286652,2625.778200
184,67.604225,138.785343,25.366044,23.494125,11.193566,2405.099841,2559.969751